<!DOCTYPE html>
<html>
  <head>
    <title>Caphebee</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    TOi xin cai dong 13 nay nhe ban oi!
    <p>B19_Screen</p>
  </body>
</html>
